*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding-inline-start: 0px;
}

ul li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: dodgerblue;
  color: white;
  padding: 10px 0;
}

.subtitle {
  margin: 30px 0;
}

.requirement {
  font-size: 12px;
  font-weight: 800;
  color: tomato;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__element button {
  background-color: dodgerblue;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 20px 0;
  transition: background-color 0.2s;
}

.form__element button:hover {
  background-color: #167de4;
}

.final__result h2 {
  margin: 20px 0;
}

.valid {
  border: 1px solid #58cf8a;
  background-color: #e8ffee;
  padding: 5px 10px;
}

.invalid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f38989;
  background-color: #ffefef;
  padding: 5px 10px;
}

.invalidText {
  font-size: 12px;
  color: red;
}
